@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*
{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
}
/* some veriable */
:root{
    --primary-color: #ffb43a;
    --hover-color: hsl(37,94%,57%);
    --body-color: #1e1e2a;
    --container-color: #2d2e37;
    --text-color: #fcfeff
    /* --secondary-color: #6c757d; */
    /* --background-dark-color: #10121A;
    --background-dark-grey: #191D2B;
    --border-color: #2e344e;
    --background-light-color: #F1F1F1;
    --background-light-color-2: rgba(3, 127, 255, 0.3);
    --white-color: #FFF;
    --font-light-color: #a4acc4;
    --font-dark-color: #313131;
    --font-dark-color-2: #151515;
    --sidebar-dark-color: #191D2B;
    --scrollbar-bg-color: #383838;
    --scrollbar-thumb-color: #6b6b6b;
    --scrollbar-width: 12px; */
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
section{
    padding: 3rem 0 2rem;
}
img{
    width: 100%;
}
.bx{
    cursor: pointer;
}
body{
    background-color: var(--body-color);
    color: var(--text-color);
}
.container{
    max-width: 1060px;
    margin: auto;
    width: 100%;

}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: 100;
}
/* nav */
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
/* logo */
.logo{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 0 0;
}
.logo span{
    color: var(--main-color);
}
/* search-box */
.search-box{
    position: relative;
    width: 100%;
    max-width: 240px;
    display: flex;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background-color: var(--container-color);
    border-radius: 4rem;
    margin-right: 1rem;
}
.search-box .bx{
    font-size: 1.1rem;
}
.search-box .bx:hover{
    color: var(--main-color);
}
#search-input{
    width: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: transparent;
    font-size: 0.938rem;

}
/* user */
.user{
    display: flex;
}
.user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
/* navbar */
.navbar{
    position: fixed;
    top: 30%;
    transform: translateY(-10);
    left: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 2.1rem;
}
.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b7b7b7;   
}
.nav-link:hover{
    color: var(--text-color);
    transition:0.3s all linear;
 }
.nav-active{
    color: var(--hover-color);
    transition: 0.3s all linear;
    transform: scale(1.1);
}
.nav-link .bx{
    font-size: 1.6rem;
}
.nav-link-title{
    font-size: 0.7rem;
} 
/* home */
.home{
    position: relative;
    min-height: 470px;
    display: flex;
    align-items: center;
    margin-top: 5rem !important;
    border-radius: 0.5rem;
}
.home-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    border-radius: 0.5rem;
}
.home-text{
    padding-left: 40px;
}
.home-title{
    font-size: 2rem;
    font-weight: 600;
}
.home-text{
    font-size: 0.938rem;
    margin: 10px 0 20px;
    color: var(--main-color);
}
.watch-btn{
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    color: var(--text-color);
}
.watch-btn .bx{
    font-size: 21px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.watch-btn .bx:hover{
    background-color: var(--hover-color);
}
.watch-btn span{
    font-size: 1rem;
    font-weight: 400;
}
/* heading */
.heading{
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: var(--container-color);
    padding: 8px 14px;
    border: 1px solid hsl(200 100% 99% / 5%);
    margin-bottom: 2rem;
}
.heading-title{
    font-size: 1.2rem;
    font-weight: 500;
}
.movie-box{
    position: relative;
    width: 100%;
    height: 380px;
    overflow: hidden;
}
.movie-box-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movie-box .box-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 14px;
    background: linear-gradient(8deg, 
    hsl(240 17% 14% / 74%) 14% ,
    hsl(240 17% 14% / 14%) 44% );
    overflow: hidden;
}
    
.movie-title{
    font-size: 1.1rem;
    font-weight: 500;
}
.movie-type{
    font-size: 0.938rem;
}
.play-btn{
 position: absolute;
 bottom: 0.8rem;
 right: 0.8rem;
    
}
/* swiper-btns */
.swiper-btn{
    display: flex;
}
.swiper-button-next,
.swiper-button-prev{
    position: static !important;
    margin: 0 0 0 10px !important;
}
.swiper-button-next::after,
.swiper-button-prev::after{
    color: var(--text-color);
    font-size: 18px !important;
    font-weight: 700;
}
/* movies */
.movie .heading{
    padding: 10px 14px;
}
.movies-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(247px, 1fr));
    gap: 1.5rem;
}
.movies-content .movie-box:hover .movie-box-img{
    transform: scale(1.1);
    transition: 0.5s;
}
.next-page{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
}
.next-btn{
    background: var(--main-color);
    padding: 12px 20px;
    color: var(--text-color);
    font-weight: 500;
}